@keyframes change-bottom-border {
	0% {
		width: 0px;
	}
	100% {
		width: 40px;
	}
}

@mixin glass-blur {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(63, 68, 141, 0.37);
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
}
@mixin tab-bottom-border {
	content: "";
	position: absolute;
	border-radius: 5px;
	bottom: -7px;
	height: 5px;
	background-color: #fff;
}
@mixin tab-change {
	animation: change-bottom-border 0.5s forwards;
	-webkit-animation: change-bottom-border 0.5s forwards;
}
