
@keyframes change-bottom-border {
	0% {
		width: 0px;
	}
	100% {
		width: 40px;
	}
}

@mixin glass-blur {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(63, 68, 141, 0.37);
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
}
@mixin tab-bottom-border {
	content: "";
	position: absolute;
	border-radius: 5px;
	bottom: -7px;
	height: 5px;
	background-color: #fff;
}
@mixin tab-change {
	animation: change-bottom-border 0.5s forwards;
	-webkit-animation: change-bottom-border 0.5s forwards;
}
@mixin scrollbar {
	&::-webkit-scrollbar {
        padding: 10px;
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #b3afb3;
        border-radius: 30px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #d1d1d1;
    }
    &::-webkit-scrollbar-track {
        background: #ffffff00;
        border-radius: 30px;
        box-shadow: inset 0px 0px 0px 0px #f0f0f0;
    }
    &::-webkit-scrollbar-corner {
        width: 0;
    }
}
